<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="cn" connectionString="Data Source=.;Initial Catalog=master;User ID=sa;Password=DaigoSaito87;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>